canvas {
    display: flex;
    padding: 10px;
    margin-top: -550px;
    margin-left: 90px;
    position: relative;
}

.main_content {
    margin-top: -45px;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 800px;
    height: 500px;
}